doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css')
  body
    div.container
      block content
    script(src='//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js', async=true)