extends ../../layout

block content
  div.row
    div.col-md-12
      div.alert.alert-info(role="alert") #{i18n.__("Well done! We send you an email with confirmation link. Please check your email account (also spam folder) and follow the instruction.")}